<div class="wikidoc">
<p><strong>Project Description</strong></p>
<p><strong>OfficeToPDF </strong>is a free command line tool that automates server-based PDF conversion for Microsoft Office 2007, 2010, 2013 and 2016 users.</p>
<p>It is distributed under an&nbsp;<a href="/license">Apache 2.0 open source license</a> and can be integrated into a batch conversion process or other applications to produce PDFs of the highest quality.</p>
<p>The tool requires an installation of Office 2007, 2010, 2013 or 2016 to work.</p>
<hr>
<p>OfficeToPDF development is funded by <a href="https://www.cognidox.com/" target="_blank">
Cognidox - Smart document management</a></p>
<p>If you've found OfficeToPDF helpful, a tweet to <a href="http://twitter.com/Cognidox" target="_blank">
@Cognidox</a> and/or a review is always appreciated.</p>
<hr>
<p>&nbsp;</p>
</div><div class="ClearBoth"></div>